:root {
    --primary-color: #212121;
    --background-color: #111;
    --font: sans-serif;
  }
  
  
  
  
  /* Card container */
  .card {
    position: relative;
    z-index: 10;
    padding: 30px;
    z-index: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .card-content-odd {
    display: flex;
    justify-content: flex-start;
    z-index: 1050;
    border-radius: 10px !important;
  }
  
  .card-content-even {
    display: flex;
    justify-content: flex-end;
    z-index: 1050;
    border-radius: 10px !important;
  }
  

    .card-content-even div , .card-content-odd  div {
    /* margin: 20px; */
    background-color: white;
    border-radius: 10px;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    /* padding: 30px 0 30px 30px; */
  }
  .card:nth-child(even) {
    /* padding: 30px 30px 30px 0; */
  }
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    /* border: solid orangered; */
    margin-left: 20%;
    margin-right: 20%;
    z-index: -1;
    margin-top: -0.5px;
  }
  /* Global ::before */
  .card-one::before {
    border-color:  #00307b;
  }
  .card-second::before {
    border-color:  #137E54;
  }
  .card-third::before {
    border-color: #FC6C40;
  }
  .card-fourth::before {
    border-color: #FAF43E;
  }
  .card-fifth::before {
    border-color: #FDDA64;
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;

    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    color: gray;
    border-radius: 10px;
    margin: 10px;
  }
  
  /* Title of the card */

  
  /* Timeline dot  */
  /* .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid orangered;
  } */
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  /* .card:nth-child(odd) > .info > .title::before {
  } */
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }


  @media only screen and (max-width:670px) {
    .card::before {
      margin-left: 15%;
      margin-right: 15%;
    }
  }